<h2 mat-dialog-title>Scan barcode</h2>
<mat-dialog-content>
  <zxing-scanner class="barcode"
                 (camerasFound)="handleCamerasFound($event)"
                 (scanSuccess)="handleSuccess($event)"
                 [(device)]="currentMediaDevice"
  ></zxing-scanner>
  <select [formControl]="cameraFormControl">
    <ng-container *ngFor="let media of mediaDevices">
      <option [value]="media.label">
        {{ media.label }}
      </option>
    </ng-container>
  </select>
</mat-dialog-content>

