<div class="list" [formGroup]="formGroup">
    <div class="list-item">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error *ngIf="formGroup.controls.username.hasError('required')">Username is required.</mat-error>
        </mat-form-field>
    </div>

    <div class="list-item">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="formGroup.controls.password.hasError('required')">Password is required.</mat-error>
        </mat-form-field>
    </div>

    <div class="list-item">
        <button mat-button (click)="attemptLogin()">Login</button>
        <p *ngIf="displayLoginError">Login failed. Please try again.</p>
    </div>
</div>