.list {
    display: flex;
    flex-direction: column;
}

.card {
    flex: content;
    margin: 1vh;
}

.no-list-message {
    font-size: 2rem;
    text-align: center;
    color: #A9A9A9;
}

.global-button-row {
    display: flex;
}
