<mat-toolbar>
    <span>COMP3006 SMS</span>
    <span class="spacer"></span>
    <a [routerLink]="['/']" class="toolbar-link">Home</a>
    <a *ngIf="loggedIn === null" [routerLink]="['/login']" class="toolbar-link">Login</a>
    <a *ngIf="loggedIn === null" [routerLink]="['/create']" class="toolbar-link">Create</a>
    <a *ngIf="loggedIn === UserType.Customer" [routerLink]="['lists/']" class="toolbar-link">Shopping lists</a>
</mat-toolbar>
<div class="container">
    <router-outlet class="content"></router-outlet>
</div>
